#home ul {
 list-style:none;
}

.pageTitle {
  margin: 2rem auto 1em;
  text-align: center;
  font-size: 3.00rem;
  font-weight: bold;
}

.posts li .date {
  color: gray;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: .8em
}

.posts li h3 {
  margin: 0 0 .5em
}

.post-link {
   color: #159957;
   font-size: 2.25rem;
   font-weight: bold
}

.description {

}

.pagination {

}
.next_page .previous_page{
 
}
.postNav {
  padding-top: 2rem;
}
.postNav  .next {
  float: right;
}
.contactFrame {
  display: flex;
}
.contactContent {
  width: 47%;
}
.contactFrame form {
  width: 47%;
  margin-left: 1rem;
}
.contactFrame label, .contactFrame input {
  display: block;
}
.contactFrame #name, .contactFrame #email, .contactFrame #message {
  width: 100%;

}  

.footer_container {
  border-top: thick solid #dddddd;
  margin-top: 1rem;
}



.button,.button-secondary,.button-tertiary,.button__outline{
  background-color:#2e8b57;
  display:inline-block;
  position:relative;
  font-family:"Open Sans",Helvetica,Arial,sans-serif;
  text-decoration:none;
  color:#fff;
  font-size:1em;
  line-height:1.2em;
  font-weight:normal;
  padding:.5em 1.5em;
  border:0;
  border-radius:4px;
  cursor:pointer;
  margin-bottom:.5em;
  -moz-transition:background-color 0.14s ease-in-out;
  -o-transition:background-color 0.14s ease-in-out;
  -webkit-transition:background-color 0.14s ease-in-out;
  transition:background-color 0.14s ease-in-out
}
.button:hover,.button-secondary:hover,.button-tertiary:hover,.button__outline:hover,.button:focus,.button-secondary:focus,.button-tertiary:focus,.button__outline:focus{
  color:#fff;
  text-decoration:none;
  background-color:#21653f
}
.button:active,.button-secondary:active,.button-tertiary:active,.button__outline:active{
  top:1px
}
.button-secondary{
  background-color:#233E5B
}
.button-secondary:hover{
  background-color:#152536
}
.button-tertiary{
  background-color:#aaa
}
.button-tertiary:hover{
  background-color:#909090
}
.button__outline{
  background-color:transparent;
  border:3px solid #2e8b57;
  color:#2e8b57
}
.button__outline:hover{
  background-color:#2e8b57;
  color:#fff
}
