
#home ul {
 list-style:none;
}

#home .pageTitle {
  margin: 2rem auto 1em;
  text-align: center;
  font-size: 3.00rem;
  font-weight: bold;
}

.posts li .date {
  color: gray;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: .8em
}

.posts li h3 {
  margin: 0 0 .5em
}

.post-link {
   color: #159957;
   font-size: 2.25rem;
   font-weight: bold
}

.description {

}

.pagination {

}

.footer_container {
  border-top: thick solid #dddddd;
}

